.missionVisionValueSection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 32px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 80px 0;

    .card {
        padding-top: 16px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        flex-direction: column;
        box-shadow: 0 6px 12px -2px rgba(50,50,93,.25), 0 3px 7px -3px rgba(0,0,0,.3);

        .cardContainer {
            margin-top: 16px;
            width: 100%;
            display: flex;
            flex-direction: column;
            row-gap: 16px;
            border-top: 1px solid #f9f9f9;
            padding: 24px 32px;

            .cardTitle {
                font-size: 24px;
                font-weight: 700;
            }
    
            .cardBody {
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
}

