.helpSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0;

    .sectionTitle {
        color: black;
        font-size: 32px;
    }

    .helpItemsContainer {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        padding-top: 64px;
        column-gap: 32px;
        row-gap: 56px;

        .helpItemCard {
            background-color: white;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            border-radius: 8px;
            padding: 16px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            max-width: 240px;
            position: relative;
            padding-bottom: 64px;
            
            .helpItemImageContainer {
                position: relative;
                background-color: white;
                height: 80px;
                width: 80px;
                border-radius: 50%;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                padding: 8px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: -48px;

                .image {
                    object-fit: contain;
                }
            }

            .helpItemTitle {
                margin-top: 16px;
                font-weight: 700;
                font-size: 24px;
            }

            .helpItemDescription {
                margin-top: 16px;
                font-size: 16px;
                line-height: 1.6;
            }

            .button {
                height: 48px;
                width: 240px;
                border: 0;
                cursor: pointer;
                background-color: white;
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
            }

            .button:hover {
                filter: brightness(0.9);
                transition: all 1s ease;
            }
        }
    }


}